button {
    border-radius: 0;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    border: 1px solid transparent;
    font-size: 16px;
    padding: 5px 15px;
    margin: 10px;
}
