.lyft-results {
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

.lyft-results  h4 {
    margin-bottom: 15px;
}

i {
    height: 20px;
    width: 20px;
    color: var(--secondary-color);
    float: left;
    margin-right: 20px;
}

.ride-type {
    text-transform: capitalize;
}

