:root {
    --main-color: #D42C16;
    --secondary-color: #0143A1;
    --tertiary-color: #B5DB2D;
    --contrast-red: #871001;
    --contrast-blue: #073C87;

    --primary-font: Montserrat, Sans-Serif;
}
